ai-automation-workflow.json
{
  "name": "AI Automation Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-automation",
        "responseMode": "lastNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "1",
      "name": "HTTP Trigger",
      "type": "n8n-nodes-base.httpTrigger",
      "typeVersion": 2.1,
      "position": [
        200,
        300
      ],
      "webhookId": "ai-automation-hook"
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\nconst text = (body.text || '').trim();\nconst targetLang = (body.targetLang || 'en').trim();\nconst style = (body.style || 'concise').trim();\nconst user = (body.user || 'user').trim();\nconst opRaw = (body.operation || 'summarize').toLowerCase().trim();\n\nconst allowed = ['summarize', 'translate', 'reply', 'note'];\nconst operation = allowed.includes(opRaw) ? opRaw : 'summarize';\n\nif (!text) {\n  throw new Error('Missing required field: text');\n}\n\nlet task = '';\nswitch (operation) {\n  case 'translate':\n    task = `將以下文本翻譯成 ${targetLang}，保持原意與專有名詞：\\n${text}`;\n    break;\n  case 'reply':\n    task = `以客服/助理口吻回覆下列訊息，語氣 ${style}，必要時提供建議：\\n${text}`;\n    break;\n  case 'note':\n    task = `將以下內容整理為行動筆記，包含重點、待辦與截止時間（若有），使用 ${targetLang}：\\n${text}`;\n    break;\n  default:\n    task = `請摘要以下內容，提供 3-5 個要點與一句 TL;DR，使用 ${targetLang}：\\n${text}`;\n    break;\n}\n\nconst prompt = [\n  '你是 n8n 中的 AI 自動化助手，請用 Markdown 產出清晰結果。',\n  `使用者：${user}`,\n  `任務：${task}`,\n  '保持可複製的輸出格式，避免多餘寒暄。'\n].join('\\n');\n\nreturn [{ prompt, meta: { operation, targetLang, style, user } }];"
      },
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "id": "2"
    },
    {
      "parameters": {
        "operation": "chat",
        "chatModel": "gpt-4o-mini",
        "temperature": 0.2,
        "maxTokens": 800,
        "messages": [
          {
            "role": "system",
            "content": "你是專業的多語 AI 助理，需提供精準、節省 Token 的回應。"
          },
          {
            "role": "user",
            "content": "={{$json[\"prompt\"]}}"
          }
        ]
      },
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [
        740,
        300
      ],
      "id": "3",
      "credentials": {
        "openAiApi": {
          "id": "__REPLACE_WITH_YOUR_CREDENTIAL_ID__",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "={\"operation\":\"{{$json[\"meta\"] ? $json[\"meta\"][\"operation\"] : $json[\"operation\"] || \"summarize\"}}\",\"result\":\"{{ $json[\"choices\"] && $json[\"choices\"][0] ? $json[\"choices\"][0][\"message\"][\"content\"] : $json[\"text\"] || $json[\"data\"] || \"\" }}\",\"model\":\"{{ $json[\"model\"] || \"gpt-4o-mini\" }}\"}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "id": "4"
    }
  ],
  "connections": {
    "HTTP Trigger": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": [
    {
      "id": "workflow",
      "name": "ai-automation"
    }
  ]
}
